@model List<WarehouseManagementWeb.Models.ExportInvoice>

@{ 
    int i = 0;
}

@foreach (var invoice in Model)
{
    i++;
    <tr>
        <td>@i</td>
        <td>@invoice.InvoiceCode</td>
        <td>@invoice.ExportDate.ToString("dd/MM/yyyy")</td>
        <td>@invoice.CustomerName</td>
        <td>@invoice.Note</td>
        <td>
            <a href="javascript:void(0);" onclick="viewDetails(@invoice.Id)" class="btn btn-info">
                <i class="fas fa-eye"></i> Xem
            </a>

            <a href="@Url.Action("Edit", "ExportInvoice", new { id = invoice.Id })" class="btn btn-warning">
                <i class="fas fa-edit"></i> Edit
            </a>
        </td>
    </tr>
}
